main {
    width: 80%;
    margin: 1rem auto;
}

.placeName {
    margin: 0 .75rem
}

.template {
    display: none;
}

.place.fav {
    background-color: gold;
}

li:first-child
.button.moveup,
li:nth-last-child(2)
.button.movedown {
    background-color: #aaa;
    cursor: not-allowed;
}

body {
    color: white;
    background-image: url(http://files.all-free-download.com//downloadfiles/wallpapers/2560_1600/paris_wallpaper_france_world_1821.jpg);
}

li.template {
    background: gray;
}

.placeName {
    margin: 0 0.75rem
  }

  .actions .button {
    margin-bottom: 0;
  }
  